<main role="main">

    <div class="container">
        <header class="">
            <h1>
                About
            </h1>
        </header>
        <hr>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4 text-center" style="opacity: .85;">
                    <h2 class="colHead">Kitt Livingston</h2>
                    <div class="colOver">
                        <img class="columnImg" src="/assets/media/kitt.jpg" alt="Hot Drink">
                        <div class="overlay">
                            <p class="text">From cocoa to lattes we've got something delicious to fill your cup.</p>
                        </div>
                    </div>
                    <p><a class="btn col-Btn" href="/menu/coffee" role="button">Contact &raquo;</a></p>
                </div>
                <div class="col-md-4 text-center" style="opacity: .85;">
                    <h2 class="colHead">Richard Sanchez</h2>
                    <div class="colOver">
                        <img class="columnImg" src="/assets/media/rich.jpg" alt="Cold Drink">
                        <div class="overlay">
                            <p class="text">Looking to cool off? Find great tasting cold beverages including iced tea,
                                cold brews, and
                                smoothies to name a few. </p>
                        </div>
                    </div>
                    <p><a class="btn col-Btn" href="/menu/frappucino" role="button">Contact &raquo;</a></p>
                </div>
                <div class="col-md-4 text-center" style="opacity: .85;">
                    <h2 class="colHead">Scott Saloom</h2>
                    <div class="colOver">
                        <img class="columnImg" src="/assets/media/scott.jpg" alt="Bakery">
                        <div class="overlay">
                            <p class="text">Choose from baked goods that are thoughtfully crafted with high-quality
                                ingredients and the
                                oh-so-good taste you’re craving. </p>
                        </div>
                    </div>
                    <p><a class="btn col-Btn" href="/menu/tea" role="button">Contact &raquo;</a></p>
                </div>
            </div>
            <hr>
        </div> <!-- /container -->
</main>