<link type="text/css" rel="stylesheet" href="/assets/css/contact.css">

<main role="main">

    <div class="container">
        <header class="">
            <h1>
                Contact
            </h1>
        </header>
        <hr>
        <div class="container">
            <div class="row">
                <form class="col-sm-12" action="action_page.php">
                    <div class="form-group">
                        <label class="control-label col-sm-2" id="fname" for="fname">Name</label>
                        <div class="form-text">
                            <input type="txt" id="Fname" name="fullname" placeholder="Michael Scott">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" id="email" for="email">Email</label>
                        <div class="form-text">
                            <input type="email" id="Email" name="email" placeholder="m.scott@dundermifflin.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" id="message" for="msg">Message</label>
                        <div class="form-text">
                            <textarea name="Message" id="Message"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2">
                            <input class="btn car-Btn" type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>

</main>