<main role="main">

    <div class="container">
        <header class="">
            <h1>Menus</h1>
        </header>
        <hr>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-3 text-center" style="opacity: .85;">
                    <h2 class="colHead">Coffee</h2>
                    <div class="colOver">
                        <img class="columnImg" src="/assets/media/blkcup.jpg" alt="Hot Drink">
                        <div class="overlay">
                            <p class="text">From cocoa to lattes we've got something delicious to fill your cup.</p>
                        </div>
                    </div>
                    <p><a class="btn col-Btn" href="/coffee" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-3 text-center" style="opacity: .85;">
                    <h2 class="colHead">Frappucino</h2>
                    <div class="colOver">
                        <img class="columnImg" src="/assets/media/frapp2.jpg" alt="Cold Drink">
                        <div class="overlay">
                            <p class="text">Looking to cool off? Find great tasting cold beverages including iced tea,
                                cold brews, and
                                smoothies to name a few. </p>
                        </div>
                    </div>
                    <p><a class="btn col-Btn" href="/frappucino" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-3 text-center" style="opacity: .85;">
                    <h2 class="colHead">Tea</h2>
                    <div class="colOver">
                        <img class="columnImg" src="/assets/media/tea3.jpg" alt="Bakery">
                        <div class="overlay">
                            <p class="text">Choose from baked goods that are thoughtfully crafted with high-quality
                                ingredients and the
                                oh-so-good taste you’re craving. </p>
                        </div>
                    </div>
                    <p><a class="btn col-Btn" href="/tea" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-3 text-center" style="opacity: .85;">
                    <h2 class="colHead">Bakery</h2>
                    <div class="colOver">
                        <img class="columnImg" src="/assets/media/BAKED.jpg" alt="Bakery">
                        <div class="overlay">
                            <p class="text">Choose from baked goods that are thoughtfully crafted with high-quality
                                ingredients and the
                                oh-so-good taste you’re craving. </p>
                        </div>
                    </div>
                    <p><a class="btn col-Btn" href="/bakery" role="button">View details &raquo;</a></p>
                </div>
            </div>

            <hr>

        </div> <!-- /container -->

</main>