html,
body {
  height: 100%;
}

.signIn-btn {
  padding: 14px 30px;
  font-family: 'Open Sans', sans-serif !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13.5px;
  letter-spacing: 3px;
}
/* Main Sign In Button */
.signIn-MAIN {
  border: 2.5px solid #3b5e69;
  background-color: #3b5e69;
  text-decoration: none !important;
  color: #FFFF !important;
}
.signIn-MAIN:hover {
  background-color:transparent !important;
  color: #3b5e69 !important;
}