<body>
    <div class="container">
        <header class="">
            <h1>Order Templates</h1>
        </header>
        <hr>
        <div class="show">
            <a class="btn car-Btn" href="/cart">
                Current Order
            </a>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6" style="margin-bottom: 15px;">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Monday Crew</h2>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <th>Product</th>
                                <th>Category</th>
                                <th>Cost</th>
                            </tr>
                            <tr>
                                <td>Cold Brew</td>
                                <td>Coffee</td>
                                <td>$2.99</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br>
           <div class="col-sm-6" style="margin-bottom: 15px;">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Leadership Team</h2>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <th>Product</th>
                                <th>Category</th>
                                <th>Cost</th>
                            </tr>
                            <tr>
                                <td>Cold Brew</td>
                                <td>Coffee</td>
                                <td>$2.99</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-6" style="margin-bottom: 15px;">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Early Birds</h2>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <th>Product</th>
                                <th>Category</th>
                                <th>Cost</th>
                            </tr>
                            <tr>
                                <td>Cold Brew</td>
                                <td>Coffee</td>
                                <td>$2.99</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-6" style="margin-bottom: 15px;">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Late</h2>
                        <!-- Table -->
                        <table class="table">
                            <tr>
                                <th>Product</th>
                                <th>Category</th>
                                <th>Cost</th>
                            </tr>
                            <tr>
                                <td>Cold Brew</td>
                                <td>Coffee</td>
                                <td>$2.99</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>